@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcBlog.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Makaleler</h2>

<p>
    @Html.ActionLink("Yeni Makale", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Kategori Adı")
        </th>
        <th>
            @Html.Label("Başlık")
        </th>

        <th>
            @Html.Label("Fotograf")
        </th>
        <th>
            @Html.Label("Tarih")
        </th>
      
        <th>
            @Html.Label("Okunma")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>

            <td>
                <img width="75" height="75" src="@item.Foto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Okunma)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.MakaleId }) |
                @Html.ActionLink("Detay", "Details", new { id = item.MakaleId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.MakaleId })
            </td>
        </tr>
    }

</table>


<div class="pagination justify-content-center mb-4">
    <div class="page-item pagination-lg">
        <div class="page-link">
            @Html.PagedListPager(Model, PAge => Url.Action("Index", "AdminMakale", new { Page  }), PagedListRenderOptions.MinimalWithPageCountText)
        </div>

    </div>

</div>
